/* 夜晚页面代码，未启用
body{
    background-color:#000000
}
h1{
    color:#ffffff
}
p{
    color:#ffffff
}
 */
#topmenu{
    margin-top:350px;
}
#find{
   border-radius: 8px; 
   width: 300px;
   height: 25px;
}
#ok{
    border-radius: 5px;
    width: 45px;
    height: 30px;
    margin-left: -7px;
}